Xpostagent.json
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "value": "YOUR_SHEET_ID_HERE"
        },
        "sheetName": {
          "value": "Sheet1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [208, 0],
      "id": "get-rows-sheet",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [400, 0],
      "id": "aggregate-data",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-32, 0],
      "id": "manual-trigger",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "objects",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [608, 0],
      "id": "set-object-list",
      "name": "Set Object List"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Objects: {{ $json.objects[0].objects }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI agent that selects unique fruits for ASMR-style glass cutting images. Generate one new fruit not on the list."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [816, 0],
      "id": "idea-agent",
      "name": "Idea Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"type\": \"object\", \"properties\": { \"object\": {\"type\": \"string\"}, \"caption\": {\"type\": \"string\"} }, \"required\": [\"object\", \"caption\"] }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [960, 208],
      "id": "structured-output-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [816, 208],
      "id": "gemini-chat-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "name": "YOUR_GEMINI_API_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.properties.object }}",
        "options": {
          "systemMessage": "You are an AI that generates photorealistic image prompts for ASMR-style glass cutting scenes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-32, 352],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.byteplus.com/api/v3/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_BYTEPLUS_API_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "seedream-4-0-250828" },
            { "name": "prompt", "value": "={{ $json.output }}" },
            { "name": "response_format", "value": "url" },
            { "name": "size", "value": "2K" }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [352, 352],
      "id": "generate-image",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "jsCode": "// Parse response and extract image URL\nconst input = items[0].json;\nlet parsed;\ntry {\n  parsed = JSON.parse(input.data);\n} catch (e) {\n  return [{ json: { error: 'Invalid JSON', details: e.message } }];\n}\nconst imageUrl = parsed?.data?.[0]?.url?.trim() || 'No URL';\nreturn [{ json: { imageUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 352],
      "id": "code-js",
      "name": "Extract Image URL"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "value": "YOUR_SHEET_ID_HERE" },
        "sheetName": { "value": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $('Set Object List').item.json.objects }}",
            "URL": "={{ $('Extract Image URL').item.json.imageUrl }}"
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [176, 688],
      "id": "append-sheet",
      "name": "Append Row in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {
          "response": {
            "response": { "responseFormat": "file", "outputPropertyName": "image.jpg" }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [400, 688],
      "id": "fetch-image",
      "name": "HTTP Request (Fetch Image)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formBinaryData", "name": "media", "inputDataFieldName": "image.jpg" }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [640, 688],
      "id": "upload-twitter-media",
      "name": "Upload Media to X (Twitter)",
      "credentials": {
        "twitterOAuth1Api": {
          "name": "YOUR_TWITTER_OAUTH_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "text": "=AI just dropped a new masterpiece 🔥",
        "additionalFields": {
          "attachments": "={{ $json.media_id_string }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [880, 688],
      "id": "create-tweet",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "name": "YOUR_TWITTER_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [{ "node": "Get row(s) in sheet", "type": "main", "index": 0 }]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [{ "node": "Aggregate", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate": {
      "main": [
        [{ "node": "Set Object List", "type": "main", "index": 0 }]
      ]
    },
    "Set Object List": {
      "main": [
        [{ "node": "Idea Agent", "type": "main", "index": 0 }]
      ]
    },
    "Idea Agent": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Generate Image", "type": "main", "index": 0 }]
      ]
    },
    "Generate Image": {
      "main": [
        [{ "node": "Extract Image URL", "type": "main", "index": 0 }]
      ]
    },
    "Extract Image URL": {
      "main": [
        [{ "node": "Append Row in Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Append Row in Sheet": {
      "main": [
        [{ "node": "HTTP Request (Fetch Image)", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request (Fetch Image)": {
      "main": [
        [{ "node": "Upload Media to X (Twitter)", "type": "main", "index": 0 }]
      ]
    },
    "Upload Media to X (Twitter)": {
      "main": [
        [{ "node": "Create Tweet", "type": "main", "index": 0 }]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
